<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
  
    <p> List of documents where user has been invited:</p>
    <div class="list-group">
      <% for( let document of documents) {%>
        <button type="button" class="list-group-item list-group-item-action"><%= document.title %></button>
      <% } %>
    </div>
  </body>
</html>