<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
		<!-- initilizing zegal-client -->
		<!-- <script src="/dist/zegal.local.js"></script> -->
		<script src="https://zegal-client.s3.ap-south-1.amazonaws.com/dev/zegal.js"></script>
		<script>
			let zegal
			const key = 'pk_8e367994-27df-43ee-8a16-f0fb1c513ce3'
			zegal = new Zegal(key);
			zegal.init();
		</script>

		</head>
		<body>
			<div id='container'>
				<form>
					<div class="form-group">
						<label for="name">Document title</label>
						<input type="text" class="form-control" id="docTitle">
					</div>
					<button type='button' class="btn btn-primary" id='zegalButton' onclick="createDocumentHandler()" data-toggle="modal" data-target="#createModal">Submit</button>
					<button class="btn btn-success">Done</button>
				</form>
				<a href="/documents"> List of documents </a>
			</div>
		<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id='createModal'aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body mb-0 p-0">
						<div class="embed-responsive embed-responsive-16by9 z-depth-1-half" id="createModalBody" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="utils.js"></script>
</html>
