<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- initilizing zegal-client -->
    <script src="https://zegal-client.s3.ap-south-1.amazonaws.com/dev/zegal.js"></script>
    <script>
      let zegal;
      const key = "pk_8e367994-27df-43ee-8a16-f0fb1c513ce3";
      zegal = new Zegal(key);
      zegal.init();
    </script>
  </head>
  <body>
    <div id="container">
      <form>
        <div class="form-group">
          <label for="name">Document title</label>
          <input type="text" class="form-control" id="docTitle" />
        </div>
        <button
          type="button"
          class="btn btn-primary"
          id="zegalButton"
          onclick="createDocumentHandler()"
        >
          Submit
        </button>
        <button class="btn btn-success">Done</button>
      </form>
      <a href="/documents"> List of documents </a>
    </div>
  </body>
  <script src="utils.js"></script>
</html>
